@media (max-width: 991px) {
  .footer-row {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

main div {
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 40px;
}
main div .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button-cartas {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.button-cartas:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button-cartas:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.button-cartas::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.button-cartas:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

header {
  justify-content: center;
  align-items: center;
  color: #EADBC8;
  background-color: #0F2C59;
}

main .inicio, main .quienes-somos {
  color: #0F2C59;
  text-align: center;
  background-color: #EADBC8;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  align-items: center;
  margin-top: 20px;
}

.quienes-somos {
  padding: 0 200px;
  padding-bottom: 20px;
}

footer {
  list-style: none;
  font-family: sans-serif;
  text-transform: capitalize;
  background-color: #0F2C59;
  box-sizing: border-box;
}
footer div .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
}
footer .footer {
  background-color: #0F2C59;
  padding: 80px 0;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .footer-links {
  width: 25%;
  padding: 0 15px;
  color: #EADBC8;
}
footer .footer-links h4 {
  font-size: 20px;
  color: #EADBC8;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid skyblue;
  padding-bottom: 10px;
  display: inline-block;
}
footer .footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #EADBC8;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
footer .footer-links p {
  font-size: 18px;
  text-decoration: none;
  color: #EADBC8;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
footer .footer-links ul li a:hover {
  color: #EADBC8;
  padding-left: 6px;
}
footer .social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
footer .social-links a:hover {
  background-color: #EADBC8;
}

main .descripcion {
  text-align: center;
  color: #0F2C59;
  text-align: center;
  background-color: #EADBC8;
}
main .form-register {
  width: 400px;
  background: #0F2C59;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: #EADBC8;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 150px;
}
main .form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
main .controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
main .form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
main .form-register a {
  color: #EADBC8;
  text-decoration: none;
}
main .form-register .botons {
  width: 100%;
  background: #EADBC8;
  border: none;
  padding: 12px;
  color: #0F2C59;
  margin: 16px 0;
  font-size: 16px;
}

main .tablas {
  padding: 90px;
  margin: 40px;
}

/*# sourceMappingURL=style.css.map */
