main{
    .inicio{  
            @include fontStyle();
            font-family: $font-family;
            align-items: center;
            margin-top: 20px;
    }
}


.quienes-somos{
    @extend .inicio;
        padding: 0 200px;
        padding-bottom: 20px;
    }
