
main{
    div{
        align-items: center;
        justify-content: center;
        padding-top: 0,5%;
        padding-bottom: 0,5%;
        
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
    }
    }
}